
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.item--hZ3 {
  box-sizing: border-box;
  padding: 11.1rem 5.6rem 2.7rem 5.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4rem;
}
.item--hZ3 .title-section-yWZ {
  margin: 0rem 13.25rem 3.2rem 13.5rem;
  width: calc(100% - 26.75rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--hZ3 .title-section-yWZ .item--u9K {
  margin: 0rem 0rem 0.4rem 0.15rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .title-section-yWZ .item--nyo {
  margin-right: 0.15rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf {
  margin: 0rem 0rem 22.8rem 0.3rem;
  width: 31.5rem;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-S2m {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
}
.item--hZ3 .label-section-iMf .label-bg-S2m .placeholder-mqj {
  width: 3.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--hZ3 .label-section-iMf .label-bg-S2m .placeholder-mqj .iconly-light-outline-profile-KsF {
  margin: 0rem 1.312rem 0.01rem 0rem;
  width: 1.188rem;
  height: 1.4902rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-S2m .placeholder-mqj .last-name-32Z {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-LXT {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.8rem;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
}
.item--hZ3 .label-section-iMf .label-bg-LXT .placeholder-gLR {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--hZ3 .label-section-iMf .label-bg-LXT .placeholder-gLR .iconly-light-outline-profile-e2M {
  margin: 0rem 1.312rem 0.01rem 0rem;
  width: 1.188rem;
  height: 1.4902rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-LXT .placeholder-gLR .first-name-Zf7 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-reD {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem 1.65rem;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
}
.item--hZ3 .label-section-iMf .label-bg-reD .placeholder-bbo {
  width: 4.85rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--hZ3 .label-section-iMf .label-bg-reD .placeholder-bbo .iconly-light-message-Z2q {
  margin: 0rem 1.15rem 0rem 0rem;
  width: 1.5rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-reD .placeholder-bbo .email-U9o {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-B4D {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.5rem 1.706rem 1.5rem 1.819rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #f7f8f8;
  background-color: #f7f8f8;
  border-radius: 1.4rem;
}
.item--hZ3 .label-section-iMf .label-bg-B4D .placeholder-h2Z {
  margin-right: 21.2062rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-B4D .placeholder-h2Z .iconly-light-lock-eTb {
  margin: 0rem 1.339rem 0rem 0rem;
  width: 1.1419rem;
  height: 1.3875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-B4D .placeholder-h2Z .password-mYD {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .label-bg-B4D .hide-password-5J1 {
  margin-top: 0.0205rem;
  width: 1.3875rem;
  height: 1.1831rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .privacy-policy-vZX {
  margin-right: 4.5rem;
  box-sizing: border-box;
  padding-right: 6.8rem;
  width: calc(100% - 4.5rem);
  height: 3rem;
  display: flex;
  align-items: flex-start;
  border-radius: 0.3rem;
}
.item--hZ3 .label-section-iMf .privacy-policy-vZX .rectangle-5416-peu {
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  border: solid 0.08rem #aca4a5;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--hZ3 .label-section-iMf .privacy-policy-vZX .item--hCu {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #aca4a5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .button-large-register-iNu {
  margin: 0rem 0rem 2.4rem 0.3rem;
  width: 31.5rem;
  height: 6rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1517;
  border-radius: 9.9rem;
  box-shadow: 0 1rem 2.2rem rgba(149, 173, 254, 0.3000000119);
  flex-shrink: 0;
}
.item--hZ3 .or-jJ1 {
  margin: 0rem 0.3rem 1rem 0rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.item--hZ3 .or-jJ1 .vector-67-Tjo {
  margin-bottom: 0rem;
  width: 14.1rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .or-jJ1 .or-bb7 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d1517;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--hZ3 .or-jJ1 .vector-68-jxD {
  margin-top: 0rem;
  width: 14rem;
  height: 0rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .login-social-media-5WH {
  margin: 0rem 9.3rem 1rem 9.5rem;
  width: calc(100% - 18.8rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--hZ3 .login-social-media-5WH .group-9684-193 {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 1.5rem;
  height: 100%;
  border: solid 0.08rem #ddd9da;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.item--hZ3 .login-social-media-5WH .group-9684-193 .google-logo-png-suite-everything-you-need-know-about-google-newest-0-2-Mih {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
}
.item--hZ3 .login-social-media-5WH .group-9683-F3P {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--hZ3 .login-nJD {
  margin: 0rem 7.7rem 0rem 8rem;
  width: calc(100% - 15.7rem);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d1517;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
