
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.item--D9j {
  background-position: center;
  width: 100%;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:934e9cce303a2b2d14f0db328c53fb18099d2294');
  background-color: #ffffff;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-ut1h-vZw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.3rem 4.2rem 10.6rem 4.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-kqmm-3Pf {
      width: 100%;
      height: 5.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 8.5rem;
      box-sizing: border-box;
      padding: 1.4rem 2.8rem 1.3rem 2.7rem;
      background-color: #ffffff;

      .frame-1-wV3 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .item--gSd {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #858585;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 21.2rem 0rem 0rem;
        }
        .group-1-jfo {
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-ckdq-297 {
      height: 6.8rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 1.36rem 10.8rem 0.532rem;
      width: calc(100% - 1.8925rem);

      .item-2-wG5 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 28.5925rem;
        width: 2.0075rem;

        .group-4-sQd {
          height: 2.9396rem;
          position: absolute;
          left: 0;
          top: 3.8604rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.0075rem;
        }
        .item--113 {
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.1rem;
          left: 0.3679rem;
          top: 0;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #ff0000;
          height: 3.9rem;
          position: absolute;
        }
      }
      .item-1-h8m {
        width: 2.0075rem;
        height: 6.5rem;
        position: relative;
        flex-shrink: 0;

        .group-4-EuP {
          vertical-align: top;
          width: 2.0075rem;
          height: 2.9396rem;
          position: absolute;
          left: 0;
          top: 3.5604rem;
          object-fit: contain;
        }
        .item--nR7 {
          left: 0.6755rem;
          top: 0;
          font-weight: 700;
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
          height: 3.9rem;
          position: absolute;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.2125;
          white-space: nowrap;
          width: 1.1rem;
        }
      }
    }
    .item-0-Uoj {
      margin: 0rem 20.568rem 0rem 11.925rem;
      width: calc(100% - 32.4925rem);
      height: 6.3rem;
      position: relative;
      flex-shrink: 0;

      .group-4-PA1 {
        height: 2.9396rem;
        position: absolute;
        left: 0;
        top: 3.3604rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.0075rem;
      }
      .item--ii5 {
        height: 3.9rem;
        text-align: center;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        width: 1.1rem;
        position: absolute;
        left: 0.5755rem;
        top: 0;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #ff0000;
        white-space: nowrap;
      }
    }
  }
  .auto-group-gfko-RcV {
    width: 100%;
    height: 35.1rem;
    position: relative;
    flex-shrink: 0;

    .item--yP7 {
      background-color: rgba(106, 102, 102, 0.200000003);
      padding: 2.45rem 1.128rem 2.45rem 1.1rem;
      width: 42.8rem;
      height: 32.35rem;
      top: 0;
      border-radius: 1rem;
      box-sizing: border-box;
      position: absolute;
      left: 0;

      .item--tFB {
        width: 100%;
        height: 22.9872rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .item-1-oN9 {
          margin: 0rem 0.004rem 1.113rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ellipse-152-ik1 {
            background-image: url('REPLACE_IMAGE:01c2db958e322c9489afa010ffd51b2b647ac66b');
            border-radius: 2.0801rem;
            flex-shrink: 0;
            margin: 0rem 1.24rem 1.04rem 0rem;
            width: 4.1601rem;
            height: 4.1601rem;
            background-size: 100% 100%;
            border: solid 0.2rem #4552c8;
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-position: center;
          }
          .text-KNR {
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.326rem 23.3rem 0rem 0rem;
            align-items: center;
            display: flex;

            .text-eQh {
              line-height: 0.75;
              color: #1d1517;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5738rem;
              font-size: 2.4rem;
              font-weight: 700;
            }
            .item-54-32-yhs {
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.1rem;
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2424;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .item--sYM {
            margin: 0rem 0.654rem 0.293rem 0rem;
            width: 2.246rem;
            height: 1.7073rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-more-kMF {
            margin-bottom: 0.2763rem;
            width: 1.8683rem;
            height: 1.8683rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-2pZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4872rem;
          width: 40.572rem;
          height: 0.1rem;
        }
        .item-2-86u {
          flex-shrink: 0;
          margin: 0rem 0.004rem 1.5rem 0rem;
          display: flex;
          align-items: center;

          .ellipse-152-e5F {
            width: 4.1601rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:0c77ca375c9ed9dddc2753c97f1084403e5f2d0b');
            flex-shrink: 0;
            margin: 0rem 1.24rem 1.04rem 0rem;
            border: solid 0.2rem #4552c8;
            box-sizing: border-box;
            background-repeat: no-repeat;
            border-radius: 2.0801rem;
            height: 4.1601rem;
          }
          .text-voT {
            margin: 1.326rem 21.8rem 0rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .text-4uf {
              line-height: 0.75;
              color: #1d1517;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5738rem;
              font-size: 2.4rem;
              font-weight: 700;
            }
            .item-54-32-cAV {
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.3rem;
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2424;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .item--Kqb {
            margin: 0rem 0.654rem 0.293rem 0rem;
            width: 2.246rem;
            height: 1.7073rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-more-qow {
            margin-bottom: 0.2763rem;
            width: 1.8683rem;
            height: 1.8683rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-amX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          width: 40.572rem;
          height: 0.1rem;
        }
        .item-3-v4h {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.004rem 1.687rem 0rem;
          display: flex;

          .ellipse-152-F6y {
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:15b7755077c5b3e2cea7fc4896ffe7e1e35f104a');
            border-radius: 2.0801rem;
            flex-shrink: 0;
            background-position: center;
            margin: 0rem 1.24rem 1.04rem 0rem;
            width: 4.1601rem;
            height: 4.1601rem;
            border: solid 0.2rem #4552c8;
            box-sizing: border-box;
            background-size: 100% 100%;
          }
          .text-wEh {
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.326rem 21.8rem 0rem 0rem;
            display: flex;

            .text-5Lu {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5738rem;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 0.75;
              color: #1d1517;
            }
            .item-54-32-crd {
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.3rem;
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2424;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .item--95s {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.654rem 0.293rem 0rem;
            width: 2.246rem;
            height: 1.7073rem;
          }
          .icon-more-rW5 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2763rem;
            width: 1.8683rem;
            height: 1.8683rem;
          }
        }
        .line-bCm {
          vertical-align: top;
          flex-shrink: 0;
          width: 40.572rem;
          height: 0.1rem;
          object-fit: contain;
        }
      }
    }
    .navbar-Jcy {
      position: absolute;
      left: 0;
      top: 25.9rem;
      box-shadow: 0 1rem 4rem rgba(29, 22, 23, 0.0700000003);
      width: 42.8rem;
      height: 9.2rem;

      .item--dv9 {
        vertical-align: top;
        width: 42.8rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 1.2rem;
        object-fit: contain;
      }
      .item--97o {
        cursor: pointer;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        width: 6.8rem;
        height: 6.5rem;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:I66:782;67:576');
        padding: 1.4rem 1.6rem 1.8rem 1.7rem;
        left: 18rem;
        top: 0;

        .home-cn5 {
          width: 3.5rem;
          height: 3.3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .item--Li5 {
        opacity: 0.3;
        width: 4.2rem;
        cursor: pointer;
        position: absolute;
        object-fit: cover;
        vertical-align: top;
        height: 4.2rem;
        left: 7.3rem;
        top: 2.6rem;
      }
      .item--2qo {
        left: 31.7rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 4.3rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
      }
    }
  }
}
